<!DOCTYPE html>
<html lang="en">
	<head>
		<h2>I love pink!</h2>
		<h4>Pink is the prettiest color.</h4>
		<body>
			<p style="color: pink">
			<b><i>Pink so beautiful.</b></i> It is the color of some flowers. It is the color of cotton candy. It is the color of Transition Metals on the periodic table next to me. It is my favorite color. Many things in my room are pink. I have a pink decorative pillow. It's shaped like a circle. Pink is the color of all the best candy. 
			</p>
			<p style="color: #e73382">
			I love all colors, but pink is my favorite. I suppose, if I had to pick, I would say I dislike any neon color, particularly neon yellow. It looks like a highlighter. <i>Pink does not look like a highlighter.</i> Pink is beautiful.
			</p>













<!-- <html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My first website!
		</title>
	</head>
	<body>
		<h1>My first heading!!</h1>
		<h2>My second heading!!</h2>
		<h3>My third heading!!</h3>
		<h4>My fourth heading!!</h4>
		<h5>My fifth heading!!</h5>
		<h6>My sixth heading!!</h6>
		<p> 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer quis auctor elit sed vulputate mi. Nullam ac tortor vitae purus faucibus. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. <b>Eu sem integer vitae justo eget magna fermentum iaculis eu. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed.</b> Aliquam nulla facilisi cras fermentum odio eu. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Sit amet risus nullam eget. <i> Dui accumsan sit amet nulla facilisi morbi tempus. </i> Id semper risus in hendrerit. Vel pretium lectus quam id leo in vitae. Consequat semper viverra nam libero justo. Lectus magna fringilla urna porttitor rhoncus. Hac habitasse platea dictumst vestibulum rhoncus. Quam quisque id diam vel. Sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus.
		</p>
		<p>
		Est velit egestas dui id ornare. Mauris a diam maecenas sed enim ut sem viverra. Turpis egestas maecenas pharetra convallis posuere morbi leo urna. A pellentesque sit amet porttitor eget dolor morbi non. Nunc faucibus a pellentesque sit. Vulputate odio ut enim blandit volutpat maecenas volutpat. Mi sit amet mauris commodo quis. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Viverra nam libero justo laoreet sit amet cursus sit amet. Enim praesent elementum facilisis leo vel fringilla est. Placerat orci nulla pellentesque dignissim enim sit amet. Scelerisque in dictum non consectetur. Velit ut tortor pretium viverra suspendisse potenti nullam ac.
		</p>
	</body>
</html> -->
